{% extends 'portfolio/base.html' %}
{% block content %}
{% load static %}

  <!-- ======= Hero Section ======= -->
  <div id="hero" class="hero route bg-image" style="background-image: url({% static 'assets/img/1331108.jpeg' %})">
    <div class="overlay-itro"></div>
    <div class="hero-content display-table">
      <div class="table-cell">
        <div class="container">
          <!--<p class="display-6 color-d">Hello, world!</p>-->
          <h1 class="hero-title mb-4">Mahlori Baloyi</h1>
          <p class="hero-subtitle"><span class="typed" data-typed-items="Designer, Developer, Freelancer, Scientist"></span></p>
          <!-- <p class="pt-3"><a class="btn btn-primary btn js-scroll px-4" href="#about" role="button">Learn More</a></p> -->
        </div>
      </div>
    </div>
  </div><!-- End Hero Section -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about-mf sect-pt4 route">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="box-shadow-full">
              <div class="row">
                <div class="col-md-6">
                  <div class="row">
                    <div class="col-sm-6 col-md-5">
                      <div class="about-img">
                        <img src="{%static 'assets/img/IMG_5961.jpg' %}" class="img-fluid rounded b-shadow-a" alt="">
                      </div>
                    </div>
                    <div class="col-sm-6 col-md-7">
                      <div class="about-info">
                        <p><span class="title-s">Name: </span> <span>Mahlori Baloyi</span></p>
                        <p><span class="title-s">Profile: </span> <span>full stack developer</span></p>
                        <p><span class="title-s">Email: </span> <span>baloyimahlori@gmail.com</span></p>
                        <p><span class="title-s">Phone: </span> <span>+27 670 874 020</span></p>
                      </div>
                    </div>
                  </div>
                 
                </div>
                <div class="col-md-6">
                  <div class="about-me pt-4 pt-md-0">
                    <div class="title-box-2">
                      <h5 class="title-left">
                        About me
                      </h5>
                    </div>
                    <p class="lead">
                      Hey there! I'm Mahlori, a passionate explorer at the intersection of technology and nature. 
                      Ever since I discovered the incredible possibilities computers offer, 
                      I've been hooked on leveraging their functionalities to solve problems and create solutions tailored to my needs. 
                      Whether it's developing custom programs or tinkering with existing tools,
                      I thrive on the challenge of finding innovative solutions.
                    </p>
                    <p class="lead">
                      Beyond the digital realm, I find solace and inspiration in nature. 
                      Despite living in a place where owning a fish tank might seem out of the ordinary, 
                      I've always been drawn to the tranquility and beauty of aquatic life.
                      My commitment to staying motivated and centered extends to my daily routine, 
                      which includes kickstarting my mornings with a combination of push-ups and meditation.
                    </p>
                    <p class="lead">
                      My journey in academia led me to the University of Johannesburg, where I earned a BSc in Physical Science. 
                      Building on this foundation, I further honed my skills at Umuzi Academy, 
                      specializing in Information Technology. Along the way, I've had the privilege of diverse professional experiences, 
                      from guiding students as a physics practical demonstrator at the University of Johannesburg to delving into data science 
                      at Telkom and contributing insights as a data worker at Mboweni Accountants.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section><!-- End About Section -->

    <!-- ======= Services Section ======= -->
    <section id="services" class="services-mf pt-5 route">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="title-box text-center">
              <h3 class="title-a">
                Services
              </h3>
              <p class="subtitle-a">
                The services I offer.
              </p>
              <div class="line-mf"></div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="service-box">
              <div class="service-content">
                <div class="service-ico">
                  <span class="ico-circle"><i class="bi bi-graph-up"></i></span>
                </div>
                <h2 class="s-title">Data Analysis and Insights</h2>
                <p class="s-description text-center"> Make data-driven decisions that directly impact your bottom line. 
                  Identify opportunities for revenue growth, cost reduction, 
                  and market expansion through comprehensive data analysis and actionable insights.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="service-box">
              <div class="service-content">
                <div class="service-ico">
                <span class="ico-circle"><i class="bi bi-tools"></i></span>
              </div>
                <h2 class="s-title">Data System Design and Development</h2>
                <p class="s-description text-center">
                  Increase operational efficiency and reduce overhead costs with custom-designed data systems. 
                  Streamline processes, 
                  minimize errors, and improve resource allocation to maximize profitability.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="service-box">
              <div class="service-content">
                <div class="service-ico">
                  <span class="ico-circle"><i class="bi bi-globe-europe-africa"></i></span>
                </div>
                <h2 class="s-title">Website Development</h2>
                <p class="s-description text-center">
                  Enhance your online presence and drive sales with visually stunning and user-friendly websites. 
                  Convert website visitors into paying 
                  customers and increase revenue streams through effective digital marketing strategies.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="service-box">
              <div class="service-content">
                <div class="service-ico">
                  <span class="ico-circle"><i class="bi bi-boxes"></i></span>
                </div>
                <h2 class="s-title">Data Extraction and Integration</h2>
                <p class="s-description text-center">
                  Optimize resource utilization and improve decision-making with centralized data management. 
                  Streamline workflows, eliminate data silos, 
                  and capitalize on valuable insights to drive business growth and profitability.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="service-box">
              <div class="service-content">
                <div class="service-ico">
                  <span class="ico-circle"><i class="bi bi-diagram-3"></i></span>
                </div>
                <h2 class="s-title">Machine Learning Model Creation</h2>
                <p class="s-description text-center">
                  Stay ahead of the competition by leveraging predictive analytics to anticipate market trends and 
                  customer behavior. Identify emerging opportunities, mitigate risks, 
                  and optimize resource allocation to maximize profitability and ROI(ruturn on investment).
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="service-box">
              <div class="service-content">
                <div class="service-ico">
                  <span class="ico-circle"><i class="bi bi-bar-chart"></i></span>
                </div>
                <h2 class="s-title">Data Visualization</h2>
                <p class="s-description text-center">
                  Communicate complex information effectively and drive strategic decision-making with intuitive data visualizations. Identify key trends, patterns, and outliers at a glance, empowering stakeholders to take decisive action that positively impacts profitability.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section><!-- End Services Section -->


    <!-- ======= Portfolio Section ======= -->
    <section id="work" class="portfolio-mf sect-pt4 route">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="title-box text-center">
              <h3 class="title-a">
                Portfolio
              </h3>
              <p class="subtitle-a">
                Some of the projects I have done.
              </p>
              <div class="line-mf"></div>
            </div>
          </div>
        </div>

        <div class="row">
          
               
                    {% for project in work_done %}
                    <div class="col-md-4">
                        <div class="work-box">
                            <a href="{{ project.images.url }}" data-gallery="portfolioGallery" class="portfolio-lightbox">
                                <div class="work-img">
                                    <img src="{{ project.images.url }}" alt="" class="img-fluid">
                                </div>
                            </a>
                            <div class="work-content">
                                <div class="row">
                                    <div class="col-sm-8">
                                        <h2 class="w-title">{{ project.customer }}</h2>
                                        <div class="w-more">
                                            <span class="w-ctegory">{{ project.upload_date }}</span><span class="w-date">18 Sep. 2018</span>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="w-like">
                                            <a href="portfolio-details.html"> <span class="bi bi-plus-circle"></span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    


        
    
 
      
        </div>
      </div>
      
    </section><!-- End Portfolio Section -->

    <!-- ======= Testimonials Section ======= -->
<!-- End testimonial item -->
<!-- End Testimonials Section -->

    <!-- ======= Blog Section ======= -->
    <section id="blog" class="blog-mf sect-pt4 route">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="title-box text-center">
              <h3 class="title-a">
                Blog
              </h3>
              
              <div class="line-mf"></div>
            </div>
          </div>
        </div>
        <div class="row">
        {% for blog in blogs %}
        
          <div class="col-md-4">
            <div class="card card-blog">
              <div class="card-img">
                <a href="blog-single.html"><img src="/portfolio/static/assets/img/IMG_5961.jpg" alt="" class="img-fluid"></a>
              </div>
              <div class="card-body">
                <div class="card-category-box">
                  <div class="card-category">
                    <h6 class="category">{{blog.category}}</h6>
                  </div>
                </div>
                <h3 class="card-title"><a href="blog-single.html">{{blog.title}}</a></h3>
                <p class="card-description">{{blog.content}}
                </p>
              </div>
              <div class="card-footer">
                <div class="post-author">
                  <a href="#">
                    <img src="{%static 'p'}" alt="" class="avatar rounded-circle">
                    <span class="author">{{ blog.author }}</span>
                  </a>
                </div>
                <div class="post-date">
                  <span class="bi bi-clock"></span> {{blog.upload_date}}
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
          


    <!-- ======= Contact Section ======= -->
    <section id="contact" class="paralax-mf footer-paralax bg-image sect-mt4 route" style="background-image: url('{% static 'assets/img/1331108.jpeg' %}')">
   
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="contact-mf">
              <div id="contact" class="box-shadow-full">
                <div class="row">
                  
                    
                  <div class="col-md-12 text-center">
                    <div class="d-flex justify-content-center">
                    <div class="title-box-2 pt-4 pt-md-0">
                      <h5 class="title-left">
                        Contact
                      </h5>
                    </div>
                    </div>
                    <div class="more-info">
                      <ul class="list-ico">
                        <li><span class="bi bi-geo-alt"></span> <a href="https://www.google.com/maps/place/120+Chris+Hani+Rd,+Chiawelo,+Soweto,+1818/@-26.2754165,27.8679436,17z/data=!3m1!4b1!4m5!3m4!1s0x1e95a6f91b6f80ed:0x74dc14146a4f65fe!8m2!3d-26.2754165!4d27.8701376" target="_blank">
                          120 Chris Hani Road  Chiawelo 1818</a>
                        <span class="bi bi-phone"></span> <a href='tel:0670874020' target="_blank">067 087 4020        </a>
                      <span class="bi bi-envelope"></span> <a href="mailto:baloyimahlori@example.com" target="_blank">Baloyimahlori@gmail.com</a></li> 
                      </ul>
                    </div>
                    <div class="list-ico">
                      <ul>
                        <li><span class="bi bi-facebook"></span><a href="https://www.facebook.com/profile.php?id=100087203859889" target="_blank"> Mahlori Baloyi</a>
                        <span class="bi bi-twitter"></span><a href="https://twitter.com/Mahlori77896031" target="_blank">@Mahlori77896031</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->


  {% endblock content%}